<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="widget contact-widget">
					<h3 class="widget-title">Contact</h3>
					<div class="contact-info">
						<address>
							<img src="http://127.0.0.1:7777/images/icon-map-small.png" class="icon">
							<p><strong>Movieo</strong> Movies, TV shows and People!</p>
						</address>
						<a href="mailto:contact@movieo.org" class="mail"><img src="http://127.0.0.1:7777/images/icon-envelope-small.png" class="icon">contact@movieo.org</a>
						<a href="tel:(xxx)xxxxxxxxx" class="phone"><img src="http://127.0.0.1:7777images/icon-phone-small.png" class="icon">(xxx)xxxxxxxxx</a>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="widget">
					<h3 class="widget-title">Social Media</h3>
					<p>Type something here...</p>
					<div class="social-links">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-google-plus"></i></a>
						<a href="#"><i class="fa fa-pinterest"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="widget">
					<h3 class="widget-title">Newsletter</h3>
					<p>Type something here... </p>
					<form action="#" class="subscribe-form">
						<input type="email" placeholder="Enter our email...">
						<input type="submit" value="Sign up">
					</form>
				</div>
			</div>
		</div>

		<div class="colophon">
			<p>Copyright <%=Date.today.year%> Movieo. All rights reserved.</p>
		</div>
	</div>
</footer>
