
% my ($h) = @_;

<div class="hero hero-slider">
	<ul class="slides">
		<li data-bg-image="dummy/slider-1.jpg">
			<div class="container">
				<h3 class="slider-subtitle">On Theatre</h3>
				<h2 class="slider-title">The Blue Elephant</h2>
				<p>The story of Dr. Yehia, a psychotherapist at Al Abbasia hospital. He works in the department treating the criminally insane, only to find his best friend to be one of the patients.</p>
				<a href="#" class="button large">Read more</a>
			</div>
		</li>
		<li data-bg-image="dummy/slider-2.jpg">
			<div class="container">
				<h3 class="slider-subtitle">On TV</h3>
				<h2 class="slider-title">Breaking Bad</h2>
				<p>A high school chemistry teacher diagnosed with inoperable lung cancer turns to manufacturing and selling methamphetamine in order to secure his family's future.</p>
				<a href="#" class="button large">Read more</a>
			</div>
		</li>

	</ul>
</div>
